include README.md
global-include requirements-*.txt
global-include requirements.in
include LICENSE.txt
include LICENSE-3RD-PARTY.txt
include version.json
global-include *.caml
graft howso
global-exclude *.py[co]
prune **/tests
