name: Reusable WF - Pytests

on:
  workflow_call:
    inputs:
      python-version:
        required: true
        type: string
      payload:
        required: false
        type: string

jobs:

  get-howso-engine-details:
    uses: "./.github/workflows/get-dependency-details.yml"
    secrets: inherit
    with:
      owner: "howsoai"
      repo: "howso-engine"
      payload: "${{ inputs.payload }}"

  get-amalgam-lang-py-details:
    uses: "./.github/workflows/get-dependency-details.yml"
    secrets: inherit
    with:
      owner: "howsoai"
      repo: "amalgam-lang-py"
      payload: "${{ inputs.payload }}"
      skip-version-json-check: true

  test:
    name: Pytest (${{ inputs.python-version }})
    needs: ["get-howso-engine-details", "get-amalgam-lang-py-details"]
    runs-on: ubuntu-latest
    steps:

      - uses: actions/checkout@v3

      - name: Download howso-engine
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh ${{ needs.get-howso-engine-details.outputs.run-type }} download -D howso/howso-engine -R "howsoai/howso-engine" -p "howso-engine-*" "${{ needs.get-howso-engine-details.outputs.run-id }}"
          # Needed because release/non-release downloads are different structure
          cd howso/howso-engine && if [ ! -f *.tar.gz ]; then mv */*.tar.gz ./; fi && tar -xvzf *.tar.gz

      - name: Download amalgam-lang-py
        if: needs.get-amalgam-lang-py-details.outputs.run-type != ''
        env:
          GH_TOKEN: ${{ github.token }}
        run: |
          gh ${{ needs.get-amalgam-lang-py-details.outputs.run-type }} download -D tmp -R "howsoai/amalgam-lang-py" -p "amalgam_lang-*-py3-none-any" "${{ needs.get-amalgam-lang-py-details.outputs.run-id }}"
          # Needed because release/non-release downloads are different structure
          cd tmp && if [ ! -f *.whl ]; then mv *.whl ./tmp && mv ./tmp/*.whl ./; fi

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ inputs.python-version }}

      - name: Run unit tests
        run: |
          python --version
          pip install -e ".[dev]"
          if [ -d "tmp" ]; then
            echo "Found custom amalgam-lang version; installing..."
            pip uninstall amalgam-lang -y
            pip install tmp/*.whl
          fi
          loglevel=${1:-INFO}
          source_root_dir="howso"
          pytest -s --log-cli-level=${loglevel} -o junit_family=xunit2 --cov-report term --cov=${source_root_dir} --junitxml=junit/test-results.xml --cov-report=xml

      - name: Run flake8 linter
        run: |
          flake8 --exit-zero --format='##vso[task.logissue linenumber=%(row)d;columnnumber=%(col)d;code=%(code)s;sourcepath=%(path)s;type=warning;]%(text)s' ${source_root_dir}
